<div class="main-home">
  <article class="home-hero">
    <h1 class="home-header">
      Hello there!<br>Welcome to the #ZAPD community.
    </h1>
      
  </article>
  
  <section class="center-split text-block">
    <article class="left-copy">
      <h2 class="m-0">We've launched<br>
        ZA ProductDesign.<br>
      #ZAPD.<br> 
      Pronounced zapped.</h2>
    </article>
    <article class="right-copy">
      <p class="weight-300">#ZAPD is South Africa's first community Slack chat platform just for digital product designers. We now have a dedicated community space where we can connect, share advice and ideas, mentor each other, organise industry events, and collaborate creatively to push the industry forward.</p>
      <a href="/joinus/" class="btn--primary">Join us!</a>
    </article>
  </section>

  <div class="bg-black">
    <section class="center-split text-block bg-black color-white">
      <article class="left-copy">
        <h2 class="m-0 color-accent">We believe in the<br>collective power<br>of talent.</h2>
      </article>
      <article class="right-copy">
        <p class="weight-300">We have amazing talent in South Africa, but unlike our peers in the US, UK and Europe, we've never had a space where we could connect digitally every day to harness the collective power of our talent and to drive ourselves forward as a community. We have all the means to be just as badass as our industry sisters and brothers in Silicon Valley - so let's connect and make some world-class African digital magic happen.</p>
      </article>
    </section>
  </div>

  <div class="bg-blue">
    <div class="color-white p-spacing flex flex--column flex--center-all text-align--center">
      <h2>Help us grow and maintain the #ZAPD community.</h2>
      <p class="">Let's build a community, people! If you're keen on being involved and driving this initiative, please volunteer to be an admin and share this site with all your design and startup friends around the country. We need admins from lots of different places and schools of thought to create a vibrant and awesome community.</p>
      <a href="/become-an-admin/" class="btn--primary" data-initialized="true">Become an Admin</a>
    </div>
  </div>

  <div class="bg-black">
    <div class="color-white p-spacing">
      All rights reserved to the #ZAPD community creators.
    </div>
  </div>

</div>